@use "./styles/partials/normalize" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

.next-video {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  &__heading {
    display: flex;
    flex-direction: row;
    @include mobile-padding;
    padding-bottom: 0;
    padding-left: 1rem;
    @include desktop {
      @include mob-body-font($primary-color6);
      font-size: 0.5rem;
      padding: 0;
      width: 100%;
    }

    &--text {
      font-family: "avenir-regular";
      padding-bottom: 0;
      margin: 1rem;
      width: 14rem;
      color: black;
      font-weight: 900;
      font-size: 1rem;
    }
  }
}
