@use "../../styles/partials/normalize" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.Btn {
  width:100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top:1rem;
  background-color: $primary-color1;
  color:$primary-color3;
  border:none;
  border-radius: 0.5rem;
  margin: 0;
}
