@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}



@mixin logo {
  font-family: "avenir-regular";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  width: 7.5rem;
  text-transform: uppercase;
}

@mixin mob-page-header-font($color: white) {
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $color;
}

@mixin tab-page-header-font($color: white) {
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 4.25rem;
  color: $color;
}

@mixin mob-section-header-font($color: white) {
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 0.875rem;
  color: $color;
}

@mixin tab-section-header-font($color: white) {
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: $color;
}

@mixin mob-sub-header-font($color: white) {
  font-family: "avenir-demi";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: $color;
}

@mixin tab-sub-header-font($color: white) {
  font-family: "avenir-demi";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $color;
}

@mixin mob-body-font($color: white) {
  font-family: "avenir-regular";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 0.875rem;
  color: $color;
}

@mixin tab-body-font($color: white) {
  font-family: "avenir-regular";
  font-weight: normal;
  font: size 0.875rem;
  line-height: 1.375rem;
  color: $color;
}

@mixin mob-footer-body-font($color: white) {
  font-family: "avenir-regular";
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: $color;
}

@mixin tab-footer-body-font($color: white) {
  font-family: "avenir-regular";
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: $color;
}

@mixin tablet-padding {
  padding-top: 3rem;
  padding-bottom: 2.25rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

@mixin mobile-padding {
  padding-top:1.5rem;
  padding-bottom:1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin display( $display,$flex-direction){
  display: $display;
  flex-direction: $flex-direction;
}
