
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf");
}


@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf");
}
