
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

$primary-color1:#0095FF;
$primary-color2:#323232;
$primary-color3:#FFFFFF;
$primary-color4:#e1e1e1;
$primary-color5:#000000;
$primary-color6:#000000;