@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

.BMX {
  &__video {
    &--ctvl {
      border-bottom: 1px solid $primary-color4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include tablet {
        padding-bottom: 1rem;
      }
      @include desktop {
        //ctvl display in desktop section
        padding-left: 18rem;
        width: 45%;
      }
    }
    &--image {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1rem;
      @include tablet {
        object-fit: contain;
        background-color: $primary-color5;

      }
      @include desktop {
        // width: 100%;
        object-fit: contain;
        background-color: $primary-color5;

      }
        &-element {
          // width: 100%;
          height: 26rem;
          // margin-bottom: 1rem;

          // @include desktop {

          // }
        }

    }

    &--heading {
      border-bottom: 1px solid $primary-color4;
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        @include mob-page-header-font($primary-color2);
        line-height: 1.5;
        @include desktop {
          @include tab-section-header-font($primary-color2);

        }

      }
      @include desktop {
        padding-left: 18rem;
        width: 45%;
      }
    }
    &--channel-timestamp {
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
      @include tablet {
        display: flex;
        flex-direction: row;
      }
    }
    &--view-like {
      display: flex;
      flex-direction: column;
      @include tablet {
        display: flex;
        flex-direction: row;
      }
    }
    &--view {
      display: flex;
      flex-direction: row;
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--like {
      display: flex;
      flex-direction: row;
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--desc {
      @include desktop {
         //description section in desktop for active videos
        padding-left: 18rem;
        width: 45%;
      }
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--comment {
      display: flex;
      flex-direction: column;
      @include desktop {
        //comment user comment section in desktop
        padding-left: 18rem;
        width: 45%;
      }
      &-heading {
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        // &-text{

        // }
      }
      &-user {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $primary-color4;
      }
      &-img {
        height: 10rem;
        width: 15%;
        &-stamp {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          @include mobile-padding;
          padding-top: 0;
          margin-top: 1rem;
        }
      }
      &-name-timestamp-active {
        display: flex;
        flex-direction: column;
        width: 85%;
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
      &-name-timestamp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
      &-active {
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        line-height: 1.5;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  //   &__next-video{
  //     height:8rem;
  // &-div{
  // height:8rem;
  // }
  //   }
}


.next-video {
  @include desktop{
    width:40%;
    display: flex;

  }
  &__heading {
    @include tablet-padding;
    padding-bottom: 0;
    padding-left: 1rem;
    @include desktop{
      padding: 0;
      display: inline-block;
      width:30%;
    }

    &--text {
      margin: 0;
    }
  }
  &__section{
    @include desktop{
      display: inline-block;
      width:100%;
    }
  }
}