@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

.page{
  @include desktop{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &-left{
    @include desktop{
      width:70%;
      border-right: 1px solid $primary-color4;
      margin-right: 1rem;
    }
  }
  &-right{
    @include desktop{
      width: 30%;
    }
}}

.BMX {
  &__video {
    &--ctvl {
      border-bottom: 1px solid $primary-color4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include tablet {
        padding-bottom: 1rem;
//ctvl display in tablet section
          margin-left: 2rem;
          margin-right: 2rem;

      }
      @include desktop {
        //ctvl display in desktop section
        margin-left: 18rem;
        width: 70%;
      }
    }
    &--image {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 1rem;
      @include tablet {
        object-fit: contain;
        background-color: $primary-color5;
      }
      @include desktop {
        // width: 100%;
        object-fit: contain;
        background-color: $primary-color5;
        // margin-bottom: 4rem;
      }
      &-element {
        // width: 100%;
        height: 26rem;
        // margin-bottom: 1rem;

        // @include desktop {

        // }
      }
    }

    &--heading {
      border-bottom: 1px solid $primary-color4;
      @include desktop {
        border-bottom: none;
      }
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        @include mob-page-header-font($primary-color2);
        line-height: 1.5;
        @include desktop {
          @include tab-section-header-font($primary-color2);
          margin-top: 3rem;
        }
      }
      @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
      }
      @include desktop {
        //bmx active video heading for desktop
        padding-left: 18rem;
        width: 70%;
      }
    }
    &--channel-timestamp {
      &-text1 {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        // margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
        @include desktop{
          @include mob-body-font($primary-color2);
          font-family: "avenir-bold";
        }
      }

      &-text2{
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        // margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
        // @include desktop{
        //   @include mob-body-font($primary-color2);
        //   font-family: "avenir-bold";
        // }
      }
      @include tablet {
        display: flex;
        flex-direction: row;
      }

    }
    &--view-like {
      display: flex;
      flex-direction: column;
      @include tablet {
        display: flex;
        flex-direction: row;
      }
    }
    &--view {
      display: flex;
      flex-direction: row;
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--like {
      display: flex;
      flex-direction: row;
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--desc {
      @include tablet {
        //description section in desktop for active videos
        margin-left: 2rem;
       margin-right: 2rem;
      }
      @include desktop {
        //description section in desktop for active videos
        padding-left: 18rem;
        width: 70%;
      }
      &-text {
        @include mobile-padding;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        @include mob-body-font($primary-color2);
        font-family: "avenir-regular";
        line-height: 1.5;
      }
    }
    &--comment {
      display: flex;
      flex-direction: column;
      @include desktop {
        //comment user comment section in desktop
        padding-left: 18rem;
        width: 70%;
      }
      &-heading {
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        // &-text{

        // }
      }
      &-user {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $primary-color4;
      }
      &-img {
        height: 10rem;
        width: 15%;
        &-stamp {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          @include mobile-padding;
          padding-top: 0;
          margin-top: 1rem;
        }
      }
      &-name-timestamp-active {
        display: flex;
        flex-direction: column;
        width: 85%;
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
      &-name-timestamp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 0;
        &-text1{
          font-family: "avenir-bold";
        }
      }
      &-active {
        @include mob-body-font($primary-color2);
        @include mobile-padding;
        line-height: 1.5;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  //   &__next-video{
  //     height:8rem;
  // &-div{
  // height:8rem;
  // }
  //   }
}

.next-video {
  @include desktop {
    width: 100%;
    display: flex;
    padding: 0;
  }
  &__heading {
    @include tablet-padding;
    padding-bottom: 0;
    padding-left: 1rem;
    @include desktop {
      @include mob-body-font($primary-color6);
      font-size: 0.5rem;
      padding: 0;
      display:flex;
      width: 100%;
    }

    &--text {
      margin: 0;
    }
  }
  &__section {
    @include desktop {
      padding: 0;
      display: inline-block;
      width:100%;
    }
  }
}
