@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

.BMX {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    @include mob-page-header-font($primary-color2);
    font-family: "avenir-regular";
    font-size: 3rem;
    line-height: 1.5;
    @include mobile-padding;
    margin: 0 1rem;
  }
  &-View-Likes {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $primary-color6;
    border-bottom: 1px solid $primary-color6;
  }
  &-View {
    @include mob-page-header-font($primary-color6);
    @include mobile-padding;
    padding-bottom: 0;
    padding-top: 0;
    width: 70%;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__img {
      width: 2rem;
      // height: 1rem;
    }
  }
  &-Like {
    @include mob-page-header-font($primary-color2);
    @include mobile-padding;
    padding-bottom: 0;
    padding-top: 0;
    width: 70%;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__img {
      width: 2rem;
      // height: 1rem;
    }
  }
  &-Para {
    @include mobile-padding;
    &__text {
      @include mob-body-font($primary-color2);
      line-height: 1.5;
    }
  }
}
